.featured{
    height: 90vh;
    position: relative;
    color: white;

    .category{
        position:relative;
        top: 85px;
        left:-520px;
        font-size: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        

        select{
            cursor: pointer;
            background-color: var(--main-color) ;
            border: 1px solid white; 
            color: white;
            margin-left: 20px;
            padding: 5px; 
        }
    }

    img{
        height: 100%;
        width: 100%;
        object-fit:cover;

    }

    .info{
        position: absolute;
        width:35%;
        left: 50px;
        bottom: 100px;
        display: flex;
        flex-direction: column;

        img{
            width: 400px;  
            margin-bottom: 5px;
        }

        .desc{
            margin: 20px 0px ;
        }

        .buttons{
            display: flex;
            margin-top: 10px;
            button{
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                margin-right: 10px;


                &.play{
                    background-color: white;
                    color: var(--main-color);
                }

                &.more{
                    background-color: gray;
                    color:white; 
                }
            }
        }
    }
}

//https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
